In [1]:
print("hello")

hello

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
df=pd.read_csv("C:\\Users\\lenovo\\Downloads\\movies.csv")
df_test=df.copy()
df_test2=df.copy()
df.head()

                title rating  year  runtime
0       Almost Famous      R  2000      122
1        American Pie      R  1999       95
2  Back to the Future     PG  1985      116
3        Blade Runner      R  1982      117
4   Blood for Dracula      R  1974      106

In [11]:
df["runtime"]=(df["runtime"]==95)/5

In [18]:
# df.head()
# df_test.head()
df_test["runtime"]=(df["runtime"]==95)/5
df_test.head()

                title rating  year  runtime
0       Almost Famous      R  2000      0.0
1        American Pie      R  1999      0.2
2  Back to the Future     PG  1985      0.0
3        Blade Runner      R  1982      0.0
4   Blood for Dracula      R  1974      0.0

In [22]:
df=df_test2.copy()
df.isna().sum()

title      0
rating     0
year       0
runtime    0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    30 non-null     object
 1   rating   30 non-null     object
 2   year     30 non-null     int64
 3   runtime  30 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

In [24]:
df.head()

                title rating  year  runtime
0       Almost Famous      R  2000      122
1        American Pie      R  1999       95
2  Back to the Future     PG  1985      116
3        Blade Runner      R  1982      117
4   Blood for Dracula      R  1974      106

In [27]:
check=(df["year"]+df["runtime"])/2
check
df.loc[df["runtime"]==95,"runtime"]=check
# value assigned to the 95 and not to the full column

In [28]:
df.head()

                title rating  year  runtime
0       Almost Famous      R  2000      122
1        American Pie      R  1999     1047
2  Back to the Future     PG  1985      116
3        Blade Runner      R  1982      117
4   Blood for Dracula      R  1974      106

In [30]:
df["runtime"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 30 entries, 0 to 29
Series name: runtime
Non-Null Count  Dtype
--------------  -----
30 non-null     int64
dtypes: int64(1)
memory usage: 372.0 bytes

In [34]:
df["runtime"].mean()
df["runtime"]=df["runtime"].mean()
df.head()

                title rating  year     runtime
0       Almost Famous      R  2000  138.733333
1        American Pie      R  1999  138.733333
2  Back to the Future     PG  1985  138.733333
3        Blade Runner      R  1982  138.733333
4   Blood for Dracula      R  1974  138.733333

In [35]:
df["runtime"].count()

30

In [36]:
df.count()

title      30
rating     30
year       30
runtime    30
dtype: int64

In [39]:
df.iloc[0].count()

4