In [45]:
import tensorflow as tf

In [46]:
import pandas as pd
train_data=pd.read_csv("C:\\Users\\lenovo\\Downloads\\archive (1)\\train.csv")
test_data=pd.read_csv("C:\\Users\\lenovo\\Downloads\\archive (1)\\test.csv")

In [47]:
train_data.head()
train_data.loc[train_data["Class Index"]==2]

,Class Index,Title,Description
448,2,"Phelps, Thorpe Advance in 200 Freestyle (AP)",AP - Michael Phelps took care of qualifying fo...
449,2,Reds Knock Padres Out of Wild-Card Lead (AP),AP - Wily Mo Pena homered twice and drove in f...
450,2,"Dreaming done, NBA stars awaken to harsh Olymp...",AFP - National Basketball Association players ...
451,2,"Indians Beat Twins 7-1, Nearing AL Lead (AP)",AP - The Cleveland Indians pulled within one g...
452,2,"Galaxy, Crew Play to 0-0 Tie (AP)",AP - Kevin Hartman made seven saves for Los An...
...,...,...,...
119991,2,Rauffer Beats Favorites to Win Downhill,"VAL GARDENA, Italy (Reuters) - Max Rauffer be..."
119996,2,Renteria signing a top-shelf deal,Red Sox general manager Theo Epstein acknowled...
119997,2,Saban not going to Dolphins yet,The Miami Dolphins will put their courtship of...
119998,2,Today's NFL games,PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...
119999,2,Nets get Carter from Raptors,INDIANAPOLIS -- All-Star Vince Carter was trad...

In [49]:
classes = ['World', 'Sports', 'Business', 'Sci/Tech']
vocab_size=5000
test_data.head()

,Class Index,Title,Description
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...
1,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o..."
2,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...
3,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...
4,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...

In [58]:
model=tf.keras.Sequential()
model.add(tf.keras.layers.TextVectorization(max_tokens=vocab_size,output_mode='count')) # output_mode=count so that it performs bow
model.add(tf.keras.layers.Dense(4, input_shape=(vocab_size,),activation='softmax'))

C:\Users\lenovo\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [51]:
data_to_adapt=train_data["Title"]+" "+train_data["Description"]
data_to_adapt[0]

"Wall St. Bears Claw Back Into the Black (Reuters) Reuters - Short-sellers, Wall Street's dwindling\\band of ultra-cynics, are seeing green again."

In [8]:
model.layers[0].adapt(data_to_adapt)

In [9]:
ans=model.layers[0].get_vocabulary()
print(len(ans))

5000

In [11]:
train_labels=train_data["Class Index"]-1 # -1 so that the numbers start from 0 instead of 1

In [12]:
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['acc'])

In [13]:
history=model.fit(data_to_adapt,train_labels,validation_split=0.22, epochs=10)

Epoch 1/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 13s 4ms/step - acc: 0.8286 - loss: 0.6492 - val_acc: 0.8934 - val_loss: 0.3388
Epoch 2/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9097 - loss: 0.2947 - val_acc: 0.8996 - val_loss: 0.3050
Epoch 3/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9176 - loss: 0.2573 - val_acc: 0.8975 - val_loss: 0.3025
Epoch 4/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9214 - loss: 0.2384 - val_acc: 0.8957 - val_loss: 0.3037
Epoch 5/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 12s 4ms/step - acc: 0.9243 - loss: 0.2237 - val_acc: 0.8939 - val_loss: 0.3089
Epoch 6/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9243 - loss: 0.2179 - val_acc: 0.8917 - val_loss: 0.3147
Epoch 7/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9278 - loss: 0.2112 - val_acc: 0.8902 - val_loss: 0.3211
Epoch 8/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9286 - loss: 0.2061 - val_acc: 0.8894 - val_loss: 0.3219
Epoch 9/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9299 - loss: 0.2041 - val_acc: 0.8868 - val_loss: 0.3326
Epoch 10/10
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - acc: 0.9306 - loss: 0.2008 - val_acc: 0.8865 - val_loss: 0.3360

In [64]:
import pandas as pd
s="football basketball"
sp=pd.Series(s))
ans=model.predict(sp)

ValueError: Shapes used to initialize variables must be fully-defined (no `None` dimensions). Received: shape=(None, 4) for variable path='sequential_3/dense_3/kernel'

In [35]:
print(ans)

[[3.4164393e-01 3.4254690e-04 6.2238538e-01 3.5628144e-02]
 [3.3247822e-08 2.7387219e-09 6.8000297e-08 9.9999988e-01]
 [5.5045849e-03 3.4460377e-02 1.8523918e-02 9.4151109e-01]
 ...
 [3.7851736e-02 9.6106482e-01 3.3816675e-04 7.4528018e-04]
 [2.1919398e-01 2.7453294e-04 7.4737358e-01 3.3157818e-02]
 [2.6650899e-04 1.5126810e-04 6.7247075e-01 3.2711142e-01]]