In [3]:
import tensorflow as tf

In [4]:
import pandas as pd
train_data=pd.read_csv("C:\\Users\\lenovo\\Downloads\\archive (1)\\train.csv")
test_data=pd.read_csv("C:\\Users\\lenovo\\Downloads\\archive (1)\\test.csv")

In [5]:
train_data.head()
train_data.loc[train_data["Class Index"]==2]

,Class Index,Title,Description
448,2,"Phelps, Thorpe Advance in 200 Freestyle (AP)",AP - Michael Phelps took care of qualifying fo...
449,2,Reds Knock Padres Out of Wild-Card Lead (AP),AP - Wily Mo Pena homered twice and drove in f...
450,2,"Dreaming done, NBA stars awaken to harsh Olymp...",AFP - National Basketball Association players ...
451,2,"Indians Beat Twins 7-1, Nearing AL Lead (AP)",AP - The Cleveland Indians pulled within one g...
452,2,"Galaxy, Crew Play to 0-0 Tie (AP)",AP - Kevin Hartman made seven saves for Los An...
...,...,...,...
119991,2,Rauffer Beats Favorites to Win Downhill,"VAL GARDENA, Italy (Reuters) - Max Rauffer be..."
119996,2,Renteria signing a top-shelf deal,Red Sox general manager Theo Epstein acknowled...
119997,2,Saban not going to Dolphins yet,The Miami Dolphins will put their courtship of...
119998,2,Today's NFL games,PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...
119999,2,Nets get Carter from Raptors,INDIANAPOLIS -- All-Star Vince Carter was trad...

In [13]:
classes = ['World', 'Sports', 'Business', 'Sci/Tech']
vocab_size=5000
test_data.head()
test_data=test_data["Title"]+" "+test_data["Description"]

In [16]:
model=tf.keras.Sequential()
model.add(tf.keras.layers.TextVectorization(max_tokens=vocab_size,output_mode='count')) # output_mode=count so that it performs bow
model.add(tf.keras.layers.Dense(4, activation='softmax'))

In [40]:
data_to_adapt=train_data["Title"]+" "+train_data["Description"]
print(data_to_adapt[0])
print(type(data_to_adapt))

Wall St. Bears Claw Back Into the Black (Reuters) Reuters - Short-sellers, Wall Street's dwindling\band of ultra-cynics, are seeing green again.
<class 'pandas.core.series.Series'>

In [18]:
model.layers[0].adapt(data_to_adapt)

In [19]:
ans=model.layers[0].get_vocabulary()
print(len(ans))

5000

In [35]:
train_labels=train_data["Class Index"]-1 # -1 so that the numbers start from 0 instead of 1 and softmax function gets applied

In [21]:
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['acc'])

In [22]:
history=model.fit(data_to_adapt,train_labels,validation_split=0.22, epochs=7)

Epoch 1/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 12s 4ms/step - acc: 0.8292 - loss: 0.6501 - val_acc: 0.8942 - val_loss: 0.3396
Epoch 2/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - acc: 0.9090 - loss: 0.2939 - val_acc: 0.8984 - val_loss: 0.3075
Epoch 3/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - acc: 0.9189 - loss: 0.2546 - val_acc: 0.8983 - val_loss: 0.3018
Epoch 4/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - acc: 0.9221 - loss: 0.2343 - val_acc: 0.8951 - val_loss: 0.3061
Epoch 5/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - acc: 0.9235 - loss: 0.2270 - val_acc: 0.8931 - val_loss: 0.3107
Epoch 6/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - acc: 0.9257 - loss: 0.2180 - val_acc: 0.8912 - val_loss: 0.3137
Epoch 7/7
2925/2925 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - acc: 0.9280 - loss: 0.2107 - val_acc: 0.8905 - val_loss: 0.3178

In [31]:
print(model.weights)
# s="football basketball"
# print(s[0])
# ans=model.predict(test_data[:1])

[<KerasVariable shape=(5000, 4), dtype=float32, path=sequential/dense/kernel>, <KerasVariable shape=(4,), dtype=float32, path=sequential/dense/bias>]

In [29]:
print(ans)
print(test_data[:1])
print(type(test_data[:1]))

[[0.33763772 0.00068428 0.621651   0.04002699]]
0    Fears for T N pension after talks Unions repre...
dtype: object
<class 'pandas.core.series.Series'>

In [41]:
import pandas as pd
s="artifical intelligence robot physics antronomy football cricket olympics"
# print(s[0])
ans=model.predict(pd.Series(s))

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step

In [42]:
print(ans)

[[0.5062714  0.4521871  0.01381363 0.02772786]]